entrypoint = "index.html"
modules = ["web"]

[nix]
channel = "stable-24_11"
packages = ["static-web-server"]

[deployment]
publicDir = "/"
deploymentTarget = "static"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "static-web-server -w ./.config/static-web-server.toml"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 80
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 37975
externalPort = 3000

[agent]
expertMode = true
